*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 11px;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 27rem 1fr;
    overflow-x: hidden;
    background-color: #ffffff;
}

 #nav{
    display: flex;
    flex-direction: column;
    border-right: 0.10rem solid black;
}



.line{
    border-bottom: 0.10rem solid black;
    margin-bottom: 1.2rem;
}

#nav h2{
    display: flex;
    justify-content: center;
    padding-bottom: 1.5rem;
    margin-top: 1rem;
    font-size: 1.8rem;
    font-weight: 400;
} 

.nav-link{
    display: flex;
    padding-bottom: 1rem;
    padding-left: 3rem;
    text-decoration: none;
    color: black;
}
 
#main{
    overflow-y: auto;
    padding: 3rem 4rem;
}

section{
    margin-top: 1rem;
}

#introduction{
    width: 100%;
    height: 19rem;
}

h2{
font-weight: 500;
padding-bottom: 1.5rem;

}

#introduction p{
    padding-bottom: 1.5rem;
    padding-left: 2rem;
}

#introduction li{
    padding: 0rem 0px 1rem 4rem;
}

#What_you_should_already_know{
    width: 100%;
    height: 14rem;
}

#What_you_should_already_know p{
    padding-bottom: 1.5rem;
    padding-left: 2rem;
}

#What_you_should_already_know li{
    padding: 0rem 0px 1rem 4rem;
}

#JavaScript_and_Java{
    width: 100%;
    height: 17rem;
}

#JavaScript_and_Java p{
    padding-bottom: 1.5rem;
    padding-left: 2rem;
}

#Hello_world{
    width: 100%;
    height: 13rem;
}

#Hello_world p{
    padding: 1rem 2rem 1rem 0;
}

.code{
    height: 6rem;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    font-size: 80%;
    background-color: #f7f7f7;
}

.dcode{
    height: 4rem;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    font-size: 80%;
    background-color: #f7f7f7;
}

#Variables{
    width: 100%;
    height: 13rem;
    margin-top: 4rem;
}
 
#Variables p{
    padding-bottom: 1.5rem;
}

#Declaring_variables{
    width: 100%;
    height: 35rem;
    margin-bottom: 3rem;
}

#Declaring_variables p{
    padding: 1rem 2rem;
}

#Variable_scope{
    width: 100%;
    height: 23rem;
    margin-bottom: 3rem;
}

#Variable_scope p{
    padding: 1rem 2rem;
}

#Global_variables{
    width: 100%;
    height: 11rem;
}

#Global_variables p{
    padding-bottom: 1.5rem;
}

#Constants{ 
    width: 100%;
    height: 36rem;
}

#Constants p{
    padding: 1rem 2rem;
} 

#Data_types{
    width: 100%;
    height: 29rem;
}

#Data_types p{
    padding-bottom: 1.5rem;
    padding-left: 2rem;
}

#Data_types ul{
    padding: 0rem 0px 1rem 4rem;
}

#Data_types li{
    padding: 0rem 0px 1rem 8rem;
}

#if_else_statement{
    width: 100%;
    height: 51rem;
}

#if_else_statement p{
    padding: 1rem 2rem;
} 

#while_statement{
    width: 100%;
    height: 45rem;
}

#while_statement p{
    padding: 1rem 2rem;
}

#while_statement li{
    padding: 0rem 0px 1rem 4rem;
}

#Function_declarations{
    width: 100%;
    height: 33rem;
}

#Function_declarations p{
    padding: 1rem 2rem;
}

#Function_declarations li{
    padding: 0rem 0px 1rem 4rem;
}

#Reference{
    width: 100%;
}

#Reference li{
    padding: 0rem 0px 1rem 4rem;
}

@media (max-width:640px){
    :root{
        font-size: 10px;
    }

    .wrapper{
        width: 97%;
        display: grid;
        grid-template-columns: 10rem 1fr;
    }

    #nav h2{
        font-size: 0.8rem;
        padding-bottom: 0.5rem;
        margin-top: 0.3rem;
    }

    #nav a{
        padding-bottom: 0.4rem;
        padding-left: 1rem;
        font-size: 0.6rem;
    }

    .line{
        margin-bottom: 0.5rem;
    }

    #introduction{
        width: 19rem;
        height: 16rem;
        font-size: 0.7rem;
        margin-left: -3rem;
        margin-top: -2rem;
    }

    #introduction h2{
        padding-bottom: 0.5rem;
        font-size: 0.7rem;
    }

    #introduction p{
        padding-bottom: 0.5rem;
        padding-left: 1rem;
        font-size: 0.5rem;
    }

    #introduction li{
        font-size: 0.5rem;
        padding: 0 0 0.5rem 2.5rem;
    }

    #What_you_should_already_know{
        height: 9rem;
    }

    #What_you_should_already_know h2{
        padding-bottom: 0.5rem;
        font-size: 0.7rem;
    }

    #What_you_should_already_know p{
        font-size: 0.5rem;
        padding-left: 1rem;
        padding-bottom: 0.5rem;
    }

    #What_you_should_already_know li{
        font-size: 0.5rem;
        padding: 0 0 0.5rem 2.5rem;
    }

    #JavaScript_and_Java{
        height: 15rem;
    }

    #JavaScript_and_Java h2{
        font-size: 0.7rem;
    }

    #JavaScript_and_Java p{
        font-size: 0.5rem;
        padding-left: 1rem;
        padding-bottom: 0.5rem;
    }

    #Hello_world{
        height: 11rem;
    }

    #Hello_world h2{
        font-size: 0.7rem;
        padding-bottom: 0.5rem;
    }

    #Hello_world p{
        font-size: 0.5rem;
        padding-left: 1rem;
        padding-bottom: 0.5rem;
        margin-top: 0;
    }

    .code{
        height: 2rem;
        width: 80%;
        font-size: 0.3rem;
        margin-left: 1.5rem;
        padding-left: 0.5rem;
    }

    .dcode{
        height: 1rem;
        width: 80%;
        font-size: 0.3rem;
        margin-left: 1.5rem;
        padding-left: 0.5rem;
    }

    #Variables{
        height: 10rem;
    }

    #Variables h2{
        font-size: 0.7rem;
        padding-bottom: 0.5rem;
    }

    #Variables p{
        font-size: 0.5rem;
        padding-left: 1rem;
        padding-bottom: 0.5rem;
        margin-top: 0;
    }

    #Declaring_variables{
        height: 15.5rem;
    }

    #Declaring_variables h2{
        font-size: 0.7rem;
        padding-bottom: 0.5rem;
    }

    #Declaring_variables p{
        font-size: 0.5rem;
        padding: 0.5rem 1rem;
        margin-top: 0;
    }

    #Variable_scope{
        height: 11rem;
    }

    #Variable_scope h2{
        font-size: 0.7rem;
        padding-bottom: 0.5rem;
    }

    #Variable_scope p{
        font-size: 0.5rem;
        padding: 0.5rem 1rem;
        margin-top: 0;
    }

    #Global_variables{
        height: 8.5rem;
    }

    #Global_variables h2{
        font-size: 0.7rem;
        padding-bottom: 0.5rem;
    }

    #Global_variables p{
        font-size: 0.5rem;
        padding: 0.5rem 1rem;
        margin-top: 0;
    }

    #Constants{
        height: 19rem;
    }

    #Constants h2{
        font-size: 0.7rem;
        padding-bottom: 0.5rem;
    }

    #Constants p{
        font-size: 0.5rem;
        padding: 0.5rem 1rem;
        margin-top: 0;
    }

    #Data_types{
        height: 20rem;
    }

    #Data_types h2{
        font-size: 0.7rem;
        padding-bottom: 0.5rem;
    }

    #Data_types p{
        font-size: 0.5rem;
        padding: 0.5rem 1rem;
        margin-top: 0;
    }

    #Data_types li{
        font-size: 0.5rem;
        padding: 0 0 0.5rem 2.5rem;
    }

    #if_else_statement{
        height: 28rem;
    }

    #if_else_statement h2{
        font-size: 0.7rem;
        padding-bottom: 0.5rem;
    }

    #if_else_statement p{
        font-size: 0.5rem;
        padding: 0.5rem 1rem;
        margin-top: 0;
    }

    #while_statement{
        height: 26rem;
    }

    #while_statement h2{
        font-size: 0.7rem;
        padding-bottom: 0.5rem;
    }

    #while_statement p{
        font-size: 0.5rem;
        padding: 0.5rem 1rem;
        margin-top: 0;
    }

    #while_statement li{
        font-size: 0.5rem;
        padding: 0 0 0.5rem 2.5rem;
    }

    #Function_declarations{
        height: 20rem;
    }

    #Function_declarations h2{
        font-size: 0.7rem;
        padding-bottom: 0.5rem;
    }

    #Function_declarations p{
        font-size: 0.5rem;
        padding: 0.5rem 1rem;
        margin-top: 0;
    }

    #Function_declarations li{
        font-size: 0.5rem;
        padding: 0 0 0.5rem 2.5rem;
    }

    #Reference h2{
        font-size: 0.7rem;
        padding-bottom: 0.5rem;
    }

    #Reference p{
        font-size: 0.5rem;
        padding: 0.5rem 1rem;
        margin-top: 0;
    }

    #Reference li{
        font-size: 0.5rem;
        padding: 0 0 0.5rem 2.5rem;
    }



    #What_you_should_already_know, #JavaScript_and_Java, #Hello_world, #Variables, #Declaring_variables, #Variable_scope, #Global_variables, #Constants, #Data_types{
        width: 19rem;
        font-size: 0.7rem;
        margin-left: -3rem;
        margin-top: -2rem;
    }

    #if_else_statement, #while_statement, #Function_declarations, #Reference{
        width: 19rem;
        font-size: 0.7rem;
        margin-left: -3rem;
        margin-top: -2rem;
    }


}